.navigationContainer{
    position: fixed;
    vertical-align: top;
    text-align: left;
    padding:25px;
    width:400px;
    height: 80px;
    
}

.navigation{
    width:300px;
    padding:20px;
    height: 40px;
    background: #8e44ad;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  
  
  button:hover{
    border-color: #8e44ad;
    transition: .5s;
  }

  button:active {
    background-color: #9024c8;
    box-shadow: 0 5px #D3D3D3;
    transform: translateY(4px);
}